.cloud, .cloud2, .cloud3, .cloud4, .cloud5, .cloud6, .cloud7, .cloud8,.cloud9,.cloud10,.cloud11,.cloud12,.cloud13 {
  position: absolute
}

.cloud {
  top: 130px;
  width: 150px;
  opacity: .8;
  animation: cloud 100s linear infinite reverse;
}
.cloud2 {
  width: 200px;
  top: 70px;
  left: 80px;
  opacity: .9
}
.cloud3 {
  top: 10px;
  right: 100px;
  opacity: .9;
}

.cloud4 {
  top: 60px;
  right: 30%;
  opacity: .6;
  z-index: 2;
}
.cloud5 {
  width: 80px;
  top: 60px;
  right: -100px;
  opacity: .8;
  animation: cloud 100s 10s linear infinite reverse
}
.cloud6 {
  width: 60px;
  top: 130px;
  right: -100px;
  opacity: .6;
  animation: cloud 100s 20s linear infinite reverse
}
.cloud7 {
  width: 120px;
  top: 180px;
  right: -120px;
  opacity: .4;
  animation: cloud 100s 30s linear infinite reverse
}
.cloud8 {
  width: 90px;
  top: 60px;
  right: -100px;
  opacity: .6;
  animation: cloud 100s 40s linear infinite reverse
}
.cloud9 {
  width: 70px;
  top: 220px;
  right: -130px;
  opacity: .7;
  animation: cloud 100s 50s linear infinite reverse
}
.cloud10 {
  width: 100px;
  top: 120px;
  right: -100px;
  opacity: .4;
  animation: cloud 100s 60s linear infinite reverse
}
.cloud11 {
  width: 80px;
  top: 140px;
  right: -100px;
  opacity: .6;
  animation: cloud 100s 70s linear infinite reverse
}
.cloud12 {
  width: 100px;
  top: 180px;
  opacity: .8;
  right: -100px;
  animation: cloud 100s 80s linear infinite reverse
}
.cloud13 {
  width: 120px;
  top: 10px;
  right: -120px;
  opacity: .8;
  animation: cloud 100s 90s linear infinite reverse
}

/* @keyframes cloud {
  from { transform: translateX(-200px)}
  to { transform: translateX(1200px)}
} */

@keyframes cloud {
  from { left: -100px }
  to {left: 100% }
}