.house {
  position: absolute;
  width: 280px;
  right: 20%;
  top: 20px;
}

.house img {
  width: 280px;
}

.window {
  position: absolute;
  top: 140px;
  left: 100px;
  width: 30px;
  height: 30px;
  background: yellow
}
.window2 {
  position: absolute;
  top: 140px;
  left: 210px;
  width: 30px;
  height: 30px;
  background: yellow
}

.door {
  position: absolute;
  top: 140px;
  left: 150px;
  width: 40px;
  height: 68px;
  background: rgb(231, 169, 36)
}